/*------------------------------------------------------------*/
/*MEDIAS QUERIES*/
/*------------------------------------------------------- */
/*** Responsive Styles Large Desktop And Above ***/
@media all and ( min-width: 1405px ) {
  /*Secciones basicas*/
  .et_pb_section {
    padding-top: 6% !important;
  }
  .et_pb_blurb.et_pb_blurb h4, .et_pb_blurb.et_pb_blurb h4 a {
      font-size: 1.4em;
      padding-bottom: 0.3em;
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
  }

}
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {

}
@media all and (max-width: 1300px) {
  .blog .et_pb_blog_grid_wrapper .et_pb_blog_grid article.et_pb_post {width: 31%;}
}
/* Responsive Styles Desktop Only */
@media all and (min-width: 981px) {

  .et_pb_row.et_pb_row_fullwidth, .et_pb_specialty_fullwidth > .et_pb_row.five-columns{
    width: 93% !important;
    max-width: 95% !important;
  }
  .et_pb_section {
      padding: 4% 0;
  }

  .et_pb_gutters2 .footer-widget {
      margin: 0 0 3% 3%;
      padding-right: 3%;
  }

}

@media only screen and (min-width: 981px) {
    h5 { font-size: 1.2em; }
    h1 { font-size: 3.5em;}
}


/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  div h1 {  font-size: 2.6em ;}
  div h3 {  font-size: 2em ;}
  div h2 {  font-size: 2.5em ;}
  .et_pb_testimonial_description_inner h2 {font-size: 1.5em !important;}
  .et_pb_section { min-height: auto;}
  .titulo_vertical_align {  padding-top: 0%;}
  .widget-footer .et_pb_column {    border-right: none;    padding-right: 0;   }
  p {   font-size: 1em !important;}
  ul.et_pb_social_media_follow {margin-left: 39%;}

  /*Promo porpositos*/
  .boton-borde-morado .et_pb_promo_button.et_pb_button{
    position: relative;
    bottom: initial;
    left: initial;
  }
  .et_pb_row .et_pb_column .et_pb_module:last-child{ margin-bottom: 7%;}
  .et_pb_row .et_pb_column .et_pb_module.et_pb_button_module_wrapper,
  .et_pb_row .et_pb_column .et_pb_module.et_pb_button_module_wrapper .et_pb_button{ margin-bottom:1%;}
  .seccion-propositos .et_pb_promo .et_pb_promo_description img.conecta {
    height: 90px !important;
    margin-bottom: 0;
    margin-top: 0;
  }
  .seccion-propositos .et_pb_promo {    height: auto;}
  .et_right_sidebar #sidebar {
    margin-left: 0;
    border-left: none;
    display: none;
  }
  /*Logo*/
  .logo_container {       display: none; }
  /*Banner*/
  .et_pb_row.et_pb_row_fullwidth, .et_pb_specialty_fullwidth > .et_pb_row {
      width: 100% !important;
      max-width: 100% !important;
  }
  .et_section_specialty .et_pb_row > .et_pb_column,.et_section_specialty.banner .et_pb_row > .et_pb_column  {
    padding-bottom: 0;
    width: 100% !important;
    padding-right: 0px;
  }
  /*.et_pb_row .et_pb_column .et_pb_module:last-child, .et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module.et-last-child {
    padding: 0px 18px;
  }*/
  .banner .et_pb_testimonial_0.et_pb_testimonial:before{display: none;}
  .et_parallax_bg {
    background-position: center 93px;
    background-size: 100%;
  }
  .logo-landing {    width: 52%;    padding-bottom: 10px;}
  .seccion-login {    padding-top: 100px; }
  .et_pb_testimonial_0.et_pb_testimonial * {    font-size: 13px;    line-height: 1.4em;}

  strong.et_pb_testimonial_author::before,
  strong.et_pb_testimonial_author::after,
  .titulo_morado h1::before,
  .et_pb_testimonial.et_pb_testimonial_no_bg::before {display: none !important;}
  .et_pb_row .et_pb_column .et_pb_module.et_pb_button_module_wrapper, .et_pb_row .et_pb_column .et_pb_module.et_pb_button_module_wrapper .et_pb_button {
    margin-bottom: 6% !important;}
  .blog .two-columns .et_pb_module.destacada, .blog .two-columns .et_pb_blog_grid_wrapper {
    width: 100% !important;
    float: none !important;
    margin-right: 0px !important;
  }
  .et_pb_section.blog article {      min-height: auto !important;
    max-height: 500px;
    height: auto !important; }
  /*numeros*/
  .et_pb_number_counter h3 {     font-size: 2em !important;     padding: 6px;   }
  .et_pb_number_counter{     margin-bottom: 0px !important; }
  .et_pb_number_counter .percent p {    font-size: 84px !important}
  .et_pb_social_media_follow{ padding: 0px;     margin: 0px auto; text-align: center;}
  .et_pb_social_media_follow li {
    float: none;
    margin-bottom: 8px;
    display: inline-block;
  }
  .galeria-purple.et_pb_gallery_grid .et_pb_gallery_item img {    height: 200px !important;}
  .galeria-golden.et_pb_gallery_grid .et_pb_gallery_item img {     height: 150px !important; }
  .galeria-silver.et_pb_gallery_grid .et_pb_gallery_item img {    height: 90px !important;}
  .galeria-purple .et_pb_grid_item {     height: 200px; }
  .galeria-golden .et_pb_grid_item {     height: 150px; }
  .galeria-silver .et_pb_grid_item {     height: 90px; }
  /*Footer*/
  .widget-footer .et_pb_column { border-right: none !important; }
  .widget-footer .et_pb_widget{float: none;   display: inline-block; }
  .widget-footer .et_pb_widget_area {text-align: center;}
  .widget-footer .et_pb_column .et_pb_widget:nth-child(n) {
    margin: 0 auto !important;
    padding-bottom: 26px;
  }
  /*comunidad*/
  .five-columns .et_pb_module, .five-columns .et_pb_promo {
    width: 100% !important;
    float: none !important;
    margin-top: 36px !important;
    height: auto !important;
    margin-left: 0px !important;
  }
  .five-columns.purplehearth {padding-top: 0px !important;}
  /*Proyectos*/
  #proyectos .et_pb_column {     margin-bottom: 0px; }

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .et_pb_specialty_fullwidth > .et_pb_row { width: 100% !important;}
  div h1 {  font-size: 2em !important;}
  div h2 {  font-size: 2.5em !important;}
  .et_pb_column_1_3 h2 {     font-size: 1.9em !important;}
  p  {   font-size: 1em !important;}
  h3 {  font-size: 2em !important;}
  .five-columns .et_pb_module, .five-columns .et_pb_promo {     width: 100%;     height: auto !important;   }

  /*Login*/
  .tml .tml-action-links { margin-top: 4.5em;}
  .tml .tml-action-links a {font-size: 15px; text-align:left;}
  .tml .tml-submit-wrap input{width: 100%;}
  strong.et_pb_testimonial_author::before, strong.et_pb_testimonial_author::after, .titulo_morado h1::before{
    padding: 22px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .et_pb_testimonial_author {    font-size: 15px !important;}
  .banner .et_pb_image_0 {     max-width: 52%; }
  /*Footer*/
  ul.et_pb_social_media_follow {    margin-left: 22%;  }

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
  .banner-login .et_parallax_bg{ background-position: center 107px; background-size: 100%;}
  /*Footer*/
  .et_pb_social_media_follow{margin: 0 auto;}
  .widget-footer .et_pb_text_inner p {text-align: center !important;  font-size: 0.7em !important; }

}
@media all and (max-width: 500px){
    .et_pb_promo{
    /*width: 200px;
    margin-left: 80px;*/
    }
}
