@import url('https://fonts.googleapis.com/css?family=Baloo|Bungee');
/*
 Theme Name: Geek Girls Latam
 Description: Tema Hijo de Divi para Geek Girls
 Author: Alejandra Zerda
 Author URL: alejandrazerda.com
 Template: Divi
 Version: 2.0
Portal Geek Girls
License: GNU General Public License
*/@import url("../Divi/style.css");
/*
------------------------------------------------------- */
/***************************************************/
/*TITULOS Y FUENTES*/
h1, h2, h3, h4, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Bungee', cursive;
}
/*Titulos especiales de secciones*/
h1 {   font-size: 3.5em !important;}
h2 {   font-size: 3em !important;}
h3 {   font-size: 2.5em !important;}
h5 {   font-size: 1.2em !important;}


.seccion-alto-completo{height: 100vh;}
/*Titulo seccion contador numeros*/
.et_pb_number_counter h3{font-size: 2em !important; }
p {
    font-size: 1.4em;
    line-height: 1.7em;
}
/*Titulo en col*/
.et_pb_column_1_3 h2{ font-size: 2.9em !important;}
/*Colores*/
.morado,
.morado h5{color:#41338b !important;}

/***************************************************/
/*MENU SECUNDARIO*/
body.admin-bar #top-header{display: none;}
body.admin-bar.et_fixed_nav.et_secondary_nav_enabled #main-header {    top: 32px;}

/***************************************************/
/*MENU PRINCIPAL*/
#et-top-navigation{padding: 0px !important;}
.et_header_style_split #et-top-navigation nav > ul > li > a {
    padding: 12px 10px !important;
    margin-top: 13px;
    margin-bottom: 13px;

}
.item-menu-morado a,
.et-fixed-header #top-menu .item-menu-morado a{
  background-color: #41338b !important;
  color: white !important;
}
.et-fixed-header #top-menu li.current-menu-item.item-menu-morado > a  {     color: #969596 !important; }
/*item widget*/
.et_pb_widget.widget_nav_menu .menu .item-menu-morado a{
  background-color:rgba(0, 0, 0, 0) !important;
}
#top-menu li a, .et_search_form_container input {     font-weight: 400; }
.et_pb_widget li a:hover {     color: #666 !important;}

/***************************************************/
/*********************HOME**************************/
/*Primera serccion de todas las paginas*/
.et_pb_section.et_pb_section_0{  padding-top: 110px!important; }
.et_pb_section {padding-top:86px; }
.titulo_seccion {
    font-weight: 300;
    line-height: 3.2em;
}
/*Seccion login landing*/
.et_pb_section.banner-login {  height: 70vh;   }
.et_pb_section.banner{
    min-height: auto;
    height: auto;
    padding-top: 0px!important;
}
.seccion-login{
  padding-top: 113px;
  background: #fefefe;
  background: -webkit-linear-gradient(left,  #fff 39%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(right, #fff 39%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(right,  #fff 39%, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, #fff 39%, rgba(255, 255, 255, 0));
}

/*Imane modulo testimonio icon*/
.seccion-login .et_pb_testimonial:before  {top: 3px; font-size: 23px;}

/*Seccion tipo blog*/
.blog article {
    min-height: 332px;
    max-height: 356px;
}
.blog .et_pb_blog_grid_wrapper .et_pb_blog_grid article.et_pb_post {
    width: 30%;
    margin-bottom: 39px !important;
}
.et_pb_gutters2 .et_pb_row.et_pb_row_fullwidth.two-columns{
  width: 95% !important;
  max-width: 95% !important;
}
.two-columns .et_pb_module.destacada {
  width: 41%;
  float: left;
  margin-right: 3%;
}
.two-columns .et_pb_module.destacada h2,
.two-columns .et_pb_module.destacada p,
.two-columns .et_pb_module.destacada .post-content {
  padding-left: 4%;
}
 .two-columns .et_pb_blog_grid_wrapper{    width: 55% !important;
    margin-right: 0 !important;
    float: left;
}

.fondo_img_destacada .et_pb_row.et_pb_row_fullwidth {
  width: 100% !important;
  max-width: 100% !important;
}
.modulo-eventos article{
	margin: 0 auto;
	max-width: 509px;
}

.divi-100-article-card .et_pb_blog_grid .article-card {

    position: relative;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow: hidden;
    padding: 0;
        padding-bottom: 0px;
    width: 28%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

}
/*Modulo testimonios seccion home*/
/*Titulo seccion testimopnios centrado verticalmente*/
.titulo_vertical_align {padding-top: 43%;}

/*Modulo testimonios y texto con lineas a los lados*/
.et_pb_testimonial_author{
  color: #41338b !important;
  font-weight: 600 !important;
  font-size: 19px !important;
}
strong.et_pb_testimonial_author::before,
strong.et_pb_testimonial_author::after,
.titulo_morado h1::before {
    content: " ";
    padding-top: 0px;
    background-image: url(./imagenes/linea.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 41px;
    background-position: center;
    margin-right: 12px;
    margin-left: 12px;
}
.et_pb_testimonial.et_pb_testimonial_no_bg:before {     background: #b3b3b3;}
.et_pb_testimonial_0.et_pb_testimonial:before {     color: #fff;}

/***************************************************/
/*PAGINA GALERIA*/
.separador-sponsor {
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.et_pb_divider:before {    top: 24px;  }
.separador-morado{  background-image: url('./imagenes/separador-morado.png');}
.separador-dorado{  background-image: url('/imagenes/separadordorado.png');}
.separador-plata{  background-image: url('./imagenes/separadorplata.png');}

.galeria-sponsor .et_pb_gallery_items{
  text-align: center;
}
.galeria-sponsor .et_pb_grid_item{
  margin:  0 3% 0% 0 !important;
  display: inline-block !important;
  float: none !important;
  vertical-align: middle;
}
.et_pb_gallery_grid .et_pb_gallery_item img {  width: auto;}
/*Galeria purple*/
/*.galeria-purple.et_pb_gallery_grid .et_pb_gallery_item img{   height: 260px; }
*/
.galeria-purple .et_pb_grid_item { max-height: 300px; width: 300px !important;}
/*Galeria golden*/
.galeria-golden .et_pb_grid_item { max-height: 250px; width: 250px !important;}
/*.galeria-golden.et_pb_gallery_grid .et_pb_gallery_item img{   height: 200px; }
*/
/*Galeria silver*/
.galeria-silver .et_pb_grid_item {max-height: 120px; width: 149px !important;}
/*.galeria-silver.et_pb_gallery_grid .et_pb_gallery_item img{   height: 120px; }
*/
.et_pb_gallery_grid .et_pb_gallery_item h3 {display: none;}
/***************************************************/
/*BOTONES*/
/*Boton morado*/
.boton-borde-morado .et_pb_button{
  background: rgba(0, 0, 0, 0);
  border-color: #41338b;
  border: 2px solid;
  color: #41338b;
}
.boton-borde-morado .et_pb_button:hover{
  background: #41338b !important;
  border-color: #41338b !important;
  color: #fff !important;
}
/*Boton borde blanco*/
.boton-borde-blanco .et_pb_promo_button.et_pb_button {
    background: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
    position: absolute;
    bottom: 5%;
    width: 74%;
    left: calc(50% - 36%);
}
.boton-borde-blanco .et_pb_promo_button.et_pb_button:hover{
  color: #41338b !important;
  background: white !important;
  border-color: #41338b !important;
  border-radius: 2px;
}
.et_pb_button,
.field-wrap input[type="button"]
{
    letter-spacing: 0px;
    font-size: 1.3em;
    width: 207px ;
    padding: 0.1em 1em !important;
}
/*Boton ninja forms*/
.field-wrap input[type="button"] {
  padding: 0.6em 4.9em !important;
}
/*Botones texto blanco*/
.form-submit .et_pb_button{color: white !important;}

/***************************************************/
/*PAGINA COMUNIDAD*/
/*Seccion "testimonio" login*/
.seccion-login {padding-right: 6%;}
/*Imagen logo*/
.logo-landing  img{height: 11vh !important ;}
.logo-landing {text-align: center;}

/*Seccion Comunidad*/
/*Blurb*/
.et_pb_blurb_container h4 {
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
}
.et_pb_blurb_content p {
  line-height: 1.6em;
  margin-top: 9px;
}
.et_pb_main_blurb_image {
    margin-bottom: 16px;
}
/*Columnas adicionales*/
.ten-columns .et_pb_module {width: 10%; float: left;}
.nine-columns .et_pb_module {width: 11.11%; float: left;}
.eight-columns .et_pb_module {width: 12.5%; float: left;}
.seven-columns .et_pb_module {width: 14.28%; float: left;}
.six-columns .et_pb_module {width: 16.66%; float: left;}

.five-columns .et_pb_module,
.five-columns .et_pb_promo
 {
    width: 18%;
    float: left;
    padding: 13px !important;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 2%;
    height: 42vh;
}
.five-columns.purplehearth .et_pb_promo {min-height: 325px; height: 50vh; position: relative;}
.et_pb_row.et_pb_row_fullwidth, .et_pb_specialty_fullwidth > .et_pb_row.five-columns{
  width: 93% !important;
  max-width: 95% !important;
}
/*Imagenes de los blurb*/
/*Modulo call to action*/
.et_pb_promo {      }

/*Parrafo*/
.seccion-propositos .et_pb_promo_description p {
	font-size: 1.1em;
}
.boton-borde-morado .et_pb_promo_button.et_pb_button {
    position: absolute;
    bottom: 10px;
    width: 117px;
    left: calc(50% - 59px);
}

/*Seccion purpleheart*/
.five-columns.blurb_image_bottom{
  height: 54vh !important;
  position: relative;
}
.et_pb_promo.boton-borde-morado{   position: relative; }

/*Modificacion call to action seccion #PURPLEHEART*/
.blurb_image_bottom .et_pb_main_blurb_image {
  margin-bottom: 15px;
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.blurb_image_bottom .et_pb_blurb_content {     height: 100%; }
.blurb_image_bottom .et_pb_main_blurb_image img {     height: 16vh; }
.blurb_image_bottom .et_pb_blurb_content p {     margin-top: 0px;}

/*seccion nodos*/
.contador .et_pb_number_counter .percent p {     font-weight: 400 !important;}

/***************************************************/
/*PAGINA PROYECTOS*/
/*Call to action propositos Pagina proyectos (empodera inspira y conecta)*/
.et_pb_promo_description p.et-fb-mce-line-break-holder{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 208px;
  width: 389px;
}
/*Seccion propositos */
.seccion-propositos .et_pb_promo {
    height:  497px;
}
/*Titulo*/
.seccion-propositos  .et_pb_promo_description h2{
  font-size: 26px;
}
/*Imagen */
.seccion-propositos .et_pb_promo .et_pb_promo_description img {
    height: 270px;
    width: auto;
}
/*Imagen de conecta*/
.seccion-propositos .et_pb_promo .et_pb_promo_description img.conecta {
    height: 136px !important;
    margin-bottom: 11%;
    margin-top: 16%;
}
.anuncios .et_pb_main_blurb_image img {
    height: 100px;
    width: auto;
}
.anuncios {
    border-radius: 17px;
    padding: 18px;
    height: 330px;
    margin-bottom: 10% !important;
}
.anuncios .et_pb_main_blurb_image {margin-top: 11%;}
.anuncios .et_pb_blurb_container{margin-top: 13%;}
.et_pb_blurb.et_pb_blurb h4, .et_pb_blurb.et_pb_blurb h4 a {
    font-size: 1.7em;
    padding-bottom: 0.3em;
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}
.anuncios .et_pb_blurb_container p{    font-size: 18px;     padding-bottom: 10px;}

/***************************************************/
/*PAGINA DE RESULTADOS*/
.et_pb_section.et_pb_section_0.titulo{
  padding-top: 0px !important;
  min-height: auto;
  padding-bottom: 0px !important;
}
/***************************************************/
/*PLUGIN GALERIA EVIRA*/
.envira-gallery-wrap .envira-gallery-public .envira-gallery-item img {
  padding: 17px !important;
}
/***************************************************/
/*PAGINA BLOG*/
h2.entry-title.article-card__title {     font-size: 2em !important;}
.article-card__excerpt p {    font-size: 1em;}
.et_pb_bg_layout_light .et_pb_widget li a {    color: white !important;}

/***************************************************/
/*********************FOOTER-WIDGET*****************/
/*Modificaciones css widget **/
.et_pb_widget_area_left {     border-right: none; }
.widget-footer{min-height: auto!important;}
.widget-footer .et_pb_column{
  border-right: 1px solid rgba(255,255,255,0.4);
  padding-right: 3%;
}
.widget-footer .col-3{border-right: none;}
.footer-widget li:before {
    border-color: rgba(0, 0, 0, 0) !important;
}
.footer-widget .et_pb_widget_area .et_pb_widget li a:hover{
  color: #9e9e9e !important;
}
/*Newsletter*/
.widget-footer.et_bloom .et_bloom_form_header h2 {
    font-size: 14px !important;
  }
.widget-footer.et_bloom .et_bloom_widget_content .et_bloom_form_container .et_bloom_form_content {
     padding: 0px 20px !important;
}
.widget-footer.et_bloom .et_bloom_widget_content .et_bloom_form_header {
    padding: 4px 5px !important;
}
.creditos .et_pb_column {
    border-right: none;
}
.creditos{padding: 20px !important}
.creditos p{font-size: 1em !important;}
/*BOTON CONTACTO WIDGET**/
.widget-footer .et_pb_button{width: 86%;}

/*REDES SOCIALES*/
.et_pb_social_media_follow li a.icon.circle {background-color: rgba(0, 0, 0, 0) !important;}
ul.et_pb_social_media_follow {
  margin: 0 auto !important;
  text-align: center;
  float: none !important;
}
.et_pb_social_media_follow li {
    display: inline-block;
    margin-bottom: 8px;
    text-align: center;
    float: none;
}

/*MENU INFERIOR*/
.col-3 .widget_nav_menu {margin-left: 12%;}

/***************************************************/
/*PAGINAS NODO*/
.banner-nodo {
  padding-top: 110px !important;
  min-height: auto;
  background-position: center top;
  margin-top: 0px;
}
/***************************************************/
/*PAGINA CALENDARIO*/
#tribe-events-pg-template {     padding-top: 130px;}
.tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a {
    font-size: 70%;
}
.tribe-events-promo{visibility: hidden;}
.entry-content tr th, .entry-content thead th{   color: white;}

.tribe-events-calendar thead th,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
#tribe-bar-form .tribe-bar-submit input[type="submit"],
.tribe-events-button,
#tribe-events .tribe-events-button
 {
    background-color: #e52f89;
    background: #e52f89;
    border-left: 1px solid #e52f89;
    border-right: 1px solid #e52f89;
    color: white;
}
/*item del evento en el calendario*/
.tribe-events-category-{
  background-color: #43338b;
  margin: 0px !important;
}
.tribe-events-category- h3{   color: white; }
#tribe-events-content .tribe-events-tooltip h4 {color: #43338b;}

/***************************************************/
/*PAGINA LOGIN*/
.modulo-login {max-width: 403px;margin: 0 auto;}
input[type="text"]{margin-bottom: 10px !important;}

/***************************************************/
/*PAGINA EMPODERA*/
.banner-proyectos img{height: 139px !important;}
.banner-proyectos.et_pb_testimonial::before {     top: -4px;}

/***************************************************/
/*FORMULARIOS*/
.field-wrap > div input, .field-wrap textarea, .field-wrap select, .field-wrap .pikaday__container, .field-wrap .pikaday__display, .field-wrap .listselect-wrap > div {
    width: 100%;
    padding: 16px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #999;
    background-color: #eee;
    font-size: 14px;
}
.nf-field-label label {
    font-weight: 400;
    color: #666666 !important;
    font-size: 1.3em;
}
.nf-form-content {margin-top: 20px;}

.field-wrap input[type="button"] {
  color: white;
  background: #e52f89;
  border-color: #e52f89;
}

/***************************************************/
/*PAGINA TIPO POST*/
.fondo_img_destacada {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 300px !important;
    background-position: top center !important;
    padding-top: 0px !important;
}
.fondo_img_destacada .et_pb_row{
    background-color: rgba(0,0,0,0.36);
    padding: 0px;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.section-text-post {width: 86% !important;}
.section-text-post .et_pb_column_1 {     width: 13.75%; }
.section-text-post  .et_pb_column_2 {      width: 82.25%; }
.section-text-post .et_pb_section{background-color: rgba(255,255,255,0);}
.single .post {     padding-bottom: 0px !important; }


/***************************************************/
/*LAYOUT TEAM*/

.hover-bio-wrapper {
    position: relative;
    color: rgba(0,0,0,0);
    width: 100%
}
figure.hover-bio img{
    display: block;
}

figure.hover-bio {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 0;
}

figure.hover-bio::before, figure.hover-bio::after{
    position: absolute;
    background: black;
            opacity: 0.3;
            content: '';
    height: 100%;
            width: 100%;
    display: block;
    top: 0;
    left: 0;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

figure.hover-bio figcaption{
    position: absolute;
    background: #fff;
            display: block;
    line-height: 1.7em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    z-index: 100;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 50%;
    left: 0;
    -moz-transform: translate3d(-100%, -50%, 0);
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
    opacity: 0;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

figure.hover-bio img{
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

figure.hover-bio figcaption{
    top: 100%;
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.hover-bio:hover img {
            opacity: .5;
}

figure.hover-bio:hover figcaption{
    background-color: #41338b;
    color: #fff;
    opacity: .9;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
            box-shadow: 0px -2px 28px rgba(255,255,255, 0.3);
}
figcaption h2 {
    color: white;
    font-size: 1.4em !important;
}
figcaption h6   { color: white;}
figcaption p    {  font-size: 18px;}

/*PLUGIN TEAM*/
.wp_teamshowcase_grid.design-3 {   text-align: center; }
.wp-tsas-columns {     float: none;     display: inline-block; vertical-align: top; }
.wp_teamshowcase_grid.design-3 .teamshowcase-image-bg img {    position: relative;}
.teamshowcase-image-bg .teamshowcase-hover-icon{position: absolute;
top: 0px;
}
.wp_teamshowcase_grid.design-3 .member-main-info{
  background-color: #41338b;
  color: white;
  font-family: 'Bungee', cursive;
  padding: 30px;
}
.wp_teamshowcase_grid.design-3 .team-grid{margin-right: 50px;}
/*LAYOUT TEAM*/
.opinions img {
    height: 245px;
    width: auto;
}
.wp_teamshowcase_grid.design-3 .team-grid:hover > .member-main-info,
.contact-content a {
    background: #e52f89;
}
a.wp-tsas-close { background-color: #41338b; }

.wp_teamshowcase_grid.design-3 .wp-tsas-medium-4 .teamshowcase-image-bg {
    height: 584px !important;
}
/***************************************************/
/*MODULO HISTORIAS Y TESTIMONIOS*/
.testimonios  {
    width: 100% !important;
    max-width: 100% !important;
}
.testimonios h3 {
    font-size: 28px !important;
    line-height: 1.3em;
    }
.testimonios .et_pb_row {  width: 90%;}
.modulo-testimonio {
    height: 526px;
    padding: 26px !important;
    text-align: justify;
}
.modulo-testimonio img {padding-bottom: 26px;}
.modulo-testimonio p{    font-size: 1em;}
.et_pb_promo_description {     padding-bottom: 36px }
.modulo-testimonio.boton-borde-morado .et_pb_promo_button.et_pb_button {    bottom: 33px;}
.testimonios.morado-titulo .et_pb_bg_layout_dark h3{color: #41338b !important;}

/*testimonios en inspira*/
.seccion-testimonio {text-align: center;}
.seccion-testimonio .et_pb_column {float: none; display: inline-block;vertical-align: top;}
/***************************************************/
/*LAYOUT CATEGORIA PROYECTOS*/
.titulo-proyectos img{float: left;margin-right: 33px;}
.titulo-proyectos h1 {margin-top: 38px;}

/***************************************************/
/*MODULO EVENTOS CUANDO NO HAY*/
body.no-eventos-futuros .seccion-eventos{display: none;}

/***************************************************/
/*LAYOUT AUTOR*/
.et_pb_team_member_0 .et_pb_member_social_links a {
    color: #ffffff !important;
    font-size: 19px !important;
    margin-top: 4px;
    padding: 0px;
}
.et_pb_team_member_image {
    width: 130px;
}
.et_pb_team_member_0.et_pb_team_member * {    font-size: 18px;}
.autor{padding: 20px;}
/***************************************************/
/*BARRA ADMIN LOGO PERFIL AUTOR*/
#wpadminbar .item-menu-morado a::before {
    width: 28px;
    content: "";
    background-image: url('http://geekgirlslatam.org/wordpress/wp-content/uploads/2017/02/Ambassadors.png') !important;
    position: relative;
    left: 0px;
    height: 28px;
    z-index: 99999;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 5px;
}
/***************************************************/
/*PLUGIN EVENTOS*/
.single-tribe_events .tribe-events-single-event-title {
    font-size: 2em !important;
}
.tribe-events-schedule h2 {    font-size: 1.5em !important; }

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
    background-color: #e52f89;
    color: #fff;
    border: 1px solid #e52f89;
}
/*BOLETIN WID*/
.widget_mailster_subscriber_button h4{
  color: white;
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
}
.mailster-widget.mailster-widget-subscriber-button{
  text-align: center;
}
.mailster-widget .btn-widget.design-default .btn {
    border: #41338B !important;
    background-color: #41338B !important;
  }
  .mailster-form .submit-button {    background-color: #41338B;}
h2.et_bloom_error_message {
    font-size: 20px !important;
}
.et_bloom .et_bloom_form_container h2.et_bloom_success_message {    font-size: 14px !important;}

/*SLIDER*/
.slider.et_pb_section.et_pb_section_0{
  padding-top: 0px !important;
}
.slider .et_pb_row{
  max-width: 100% !important;
  width: 100%;
}

.slider .et_pb_slider .et_pb_slide{
  height: 65vh;
}

/*REdes sociales*/
.et_pb_social_media_follow li a.icon::before {	color: #444343 !important;}
.et_pb_social_media_follow_network_0 a.icon {

    background-color: transparent !important;

}
/*CAMBIOS PLANTILLA*/
/*Slider*/
.et_pb_section.et_pb_section_0 {    padding-top: 0px !important;}
.et_pb_slider.et_pb_post_slider{height: 100vh !important;}
