<div class='vinculacion_nodo timber_box' id='vinculacion_nodo'>
    <div data-tipo='nodo'>
        <label class='titulo' for='nodo'>Vinculado al nodo:</label>
        <input type='text' name='nodo' class='sugerir' data-type='nodo' value='{{ nodo }}'>
        <input type='hidden' name='nodo_id' value='{{ nodo_id }}'>
    </div>
</div>
