<div class='datos_nodo timber_box' id='datos_nodo' data-tipo='nodo'>
    <label class='titulo' for='lider_nodo'>Lider del nodo:</label>
    {{ lider_nodo|usuarios( 'lider_nodo', { 'role__in': ['editor','administrator','lider'] } ) }}<br>
    <label class='titulo' for='geo_ref'>Posición geográfica:</label>
    <input type='text' class='geo' id='geo_ref_ref' name='geo_ref_ref' value='{{ geo_ref }}' disabled>
    <input type='hidden' class='geo' id='geo_ref' name='geo_ref' value='{{ geo_ref }}'><span class='button' name='georeferenciar'>Georeferenciar</span><br>
    <div data-tipo='pais'>
        <label class='titulo' for='localizacion'>País:</label>
        <input type='text' name='pais' class='sugerir' data-type='pais' value='{{ pais }}'>
        <input type='hidden' name='pais_id' value='{{ pais_id }}'>
    </div><br>
</div>
