<div class='datos_proyecto timber_box' id='datos_proyecto' data-tipo='proyecto'>
    <div data-tipo='localizacion'>
        <label class='titulo' for='localizacion'>Localización:</label>
        <input type='text' name='localizacion' class='sugerir' data-type='localizacion' value='{{ localizacion }}'>
        <input type='hidden' name='localizacion_id' value='{{ localizacion_id }}'>
    </div><br>
</div>
