<div class='datos_historia timber_box' id='datos_historia'>
    <label class='titulo' for='protagonista'>Protagonista:</label>
    <input type='text' name='protagonista' value='{{ protagonista }}'>
</div>
