<h3>Vinculación</h3>
<table class="form-table">
    <tr>
        <th>
            <label for="nodo">Nodo</label>
        </th>
        <td data-tipo='nodo'>
            <input type="text" id="nodo" class="regular-text code sugerir" data-type='nodo' name="nodo" value="{{ nodo }}">
            <input type='hidden' name='nodo_id' value='{{ nodo_id }}'>
        </td>
    </tr>
    <tr>
        <th>
            <label for="estado_vinculacion">Estado</label>
        </th>
        <td>
            Aprobado
        </td>
    </tr>
</table>
