{% if edit %}
<tr class="form-field jt-term-layout-wrap">
	<th scope="row"><label for="jt-term-layout">Layout:</label></th>
	<td>
		<select name="layout">
			<option value="0">No asignar</option>
			{% for modulo in modulos %}
			<option value='{{ modulo.ID }}' {{ function('selected', layout, modulo.ID, false) }}>{{ modulo.post_title}}</option>
			{% endfor %}
		</select>
	</td>
</tr>
{% else %}
<div class='form-field term-image-wrap'>
	<label for='layout'>Layout</label>
	<select name="layout">
		<option value="0">No asignar</option>
		{% for modulo in modulos %}
		<option value='{{ modulo.ID }}'>{{ modulo.post_title}}</option>
		{% endfor %}
	</select>
</div>
{% endif %}
