/********** boxes *********/

.timber_box label.titulo {
    width: 200px;
    display: inline-block;
}

.picker-map { z-index: 5; }

div.easy-autocomplete { display: inline-block; }

.user-profile-picture {display: none;}

/*item-menu-morado*/
.item-menu-morado a {
    background-color: #41338b !important;
    color: white !important;
}
#wpadminbar .item-menu-morado a::before {
    width: 28px;
    content: "";
    background-image: url('http://geekgirlslatam.org/wordpress/wp-content/uploads/2017/02/Ambassadors.png') !important;
    position: relative;
    left: 0px;
    height: 28px;
    z-index: 99999;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 5px;
}
